.hero-about  
  .row-fluid
    .span5.article-about
      %h2.tag-about 
        I'm an experienced web designer
        %span.copy-about
          currently based just outside of Boston, MA. I started my career in 2007 after earning a BFA in Graphic Design and Technology from Emmanuel College. My early working days focused on print design and quickly evolved to include web & interactive projects. I now spend most of my days tackling site designs for major names in the travel & leisure industry while also pursuing my own personal projects.  If you’ve got a great idea you want to get off the ground I would love to hear from you. 
  .row-fluid
    .span4.offeset1
      .contact-button
        %a.contact-btn{ :href => "/contact/" } Contact Me